.DS_Store
.RData
.Rhistory
AF_Command_Line.R
AF_Parsing_Draft.R
Amerindian_Full_Table copy.txt
Amerindian_Full_Table.txt
Amerindian_Table.txt
Arab_Full_Table.txt
Asian_Full_Table.txt
Austronesian_Full_Table.txt
Black_Full_Table.txt
Caucasoid_Full_Table.txt
Hispanic_Full_Table.txt
Mestizo_Full_Table.txt
Mixed_Full_Table.txt
Oriental_Full_Table.txt
Polynesian_Full_Table.txt
full_amerindian_file